

.container {
  background-color: #ffffff; 
  /* display: flex;  */
  /* margin: 100px; */
  /* margin-left: 20%; */
  /* margin-right: 10px; */
  /* height: 100vh; */
  /* justify-content:center; */
  width: 60vw;
  
}

.main-content{
  margin: 10px;
  background-color: #ffffff;
  justify-content:center;
  /* width: 100vw;*/
  height: 80vh;   
  
}

content-component{
  margin: 10px;
  background-color: #2e1f1f;
  justify-content:center;
  width: 34vw;
  
}

    

